{% extends "upload_form/base.html" %}
{% block content %}
<div class="menu">
{% if validlink %}
<h4>Set Your Password</h4>
{% if form.errors %}
{{ form.error_messages }}
{% endif %}
<form method="post" >
{% csrf_token %}
<div class="form-group">
  <label style="float:left;" class="col-xs-2">{{ form.new_password1.label }}</label>
  <div class="form-group">
    {{ form.new_password1 }}
  </div>
</div>

<div class="form-group">
  <label style="float:left;" class="col-xs-2">{{ form.new_password2.label }}</label>
  <div class="form-group">
    {{ form.new_password2 }}

  </div>
</div>



<input class="btn" type="submit" value="submit" />
</form>
{% else %}
<h4>Set Your Password</h4>
<div class="alert alert-danger" role="alert">
Password set link is invalid or expired.
</div>
{% endif %}
</div>
{% endblock %}
