{% extends "upload_form/base.html" %} {% block content %}
<div class="menu">
  <table class="table table-hover" id="download-table">
    <thead>
      <tr>
        <th><input name="select_all" value="1" type="checkbox" /></th>
        <th>filename</th>
        <th>date</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      {% for value in all_data %}
      <tr class="listval">
        <td></td>
        <td>{{ value }}</td>
        <td>{{ value.timestamp }}</td>
        <td>...</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{% url 'upload_form:downloadfile' %}" method="POST">
    <div class="form-group" style="display:none;">
      <label style="float:left;" for="filename">Filename</label>
      <input
        id="filename"
        class="form-control"
        type="text"
        name="filename"
        aria-describedby="alert"
        placeholder="Filename"
        required
      />
    </div>
    <div class="col-xs-offset-2 col-xs-10 text-right">
      <small id="alert">{{ alert }}</small>
      <input
        type="submit"
        class="btn btn-primary submit"
        disabled
        value="download"
      /><br />
    </div>
    {% csrf_token %}
  </form>
  <a href="/home"
    ><i
      style="position:relative; right:10px;"
      class="fas fa-arrow-circle-left"
    ></i
    >back to home</a
  >
</div>
{% endblock %}
