{% extends "upload_form/base.html" %} {% block content %}
<script src="{% static 'upload_form/js/downloading.js' %}"></script>
<div id="menu shadow">
  <!--<meta http-equiv="refresh" content="4;URL=/home">-->
  <div>Downloading...</div>
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped bg-info progress-bar-animated"
      role="progressbar"
      style="width:0%;"
    ></div>
    <input
      type="text"
      id="filepath"
      value="{{ downloadfile }}"
      style="display:none;"
    />
    <input
      type="text"
      id="filename"
      value="{{ filename }}"
      style="display:none;"
    />
  </div>
  <input type="number" id="number" style="display:none;" value="0" />
  <div id="progress"></div>
  <br />

  <div id="box">
    <div id="progress-msg"></div>
  </div>
</div>
<a id="save"></a>
{% endblock %}
