{% extends "upload_form/base.html" %}
{% block content %}
{% load static %}
<div class="menu">
   <table class="table table-hover" id="download-table">
      <thead>
         <tr>
            <th></th>
            <th>filename</th>
            <th>date</th>
            <th>size</th>
            <th>description</th>
{% if request.user.is_superuser %}
            <th>user</th>
{% endif %}
         </tr>
      </thead>
      <tbody>
{% for value in all_data %}
         <tr class="listval">
            <td></td>
            <td>{{ value.filename }}</td>
            <td>{{ value.timestamp }}</td>
            <td>{{ value.size }}</td>
            <td>{{ value.description }}</td>
{% if request.user.is_superuser %}
            <td>{{ value.user }}</td>
{% endif %}
         </tr>
{% endfor %}
      </tbody>
      <medium id="alert">{{ alert }}</medium>
   </table>
   <form action="{% url 'upload_form:downloadfile' %}" method="POST">
      <div class="form-group" style="display:none;">
         <label style="float:left;" for="filename">Filename</label>
         <input id="filename" class="form-control" type="text" name="filename" aria-describedby="alert" placeholder="Filename" required>
{% if request.user.is_superuser %}
         <input id="username" type="text" name="name" required>
{% endif %}
      </div>
      <div class="col-xs-offset-2 col-xs-10 text-right">
         <div id="buttons">
            <div class="btn btn-upload btn-outline-primary upload">upload</a></div>
            <input type="submit"  class="btn btn-outline-secondary submit disabled" value="download">
            <div class="btn btn-outline-danger delete disabled" data-toggle="modal" data-target="#deletemodal" onclick="deletelist()" >delete</div>
         </div>
      </div>
{% csrf_token %}
   </form>
</div>

<!-- MODAL -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
     <div class="modal-body">
     </div>
 <form action="{% url 'upload_form:deletefile' %}" method="POST">
     <input class="delete" type="text" name="deletefile" style="display:none;" required>
     {% if request.user.is_superuser %}
     <input class="user" type="text" name="username" style="display:none;" required>
     {% endif %}
     <div class="modal-footer" style="display:flex;">
         <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
         <input type="submit" class="btn btn-outline-danger" value="delete"/>
     </div>
     {% csrf_token %}
     </form>
    </div>
  </div>
</div>
{% endblock %}
