{% extends "upload_form/base.html" %}
{% block content %}
<script src="{% static 'upload_form/js/upload.js' %}"></script>

<div class="menu">
<div class="uploadform">
  <form id="form" enctype="multipart/form-data" action="/save" method="post">
  	{% csrf_token %}
  	{{ form.filename }}
        <label for="{{ uploadfile.name }}">Uploadfile</label>
        {{ form.uploadfile }}
        <label for="{{ description.auto_id }}">Description</label>
        {{ form.description }}
        {{ form.size }}
        <div id="alert">{{ alert }}</div><br>
  	<input id="file" class="btn btn-outline-primary" type="button" value="upload">
  </form>
</div>
<div class="progress"> <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width:0%;"></div>
</div>
<div id="progress"></div>
<div id="progress-msg"></div>
</div>

<!-- MODAL -->
<div class="modal  fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" ">
  <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-body">
     <div id="complete">Upload completed.</div>
     </div>
     <div class="modal-footer" style="display:flex;">
         <button type="button" id="uploadmore" class="btn btn-outline-primary" >Upload more</button>
         <button type="button" id="home" class="btn btn-outline-info" value="delete">Home</button>
     </div>
 </div>
</div>
</div>
{% endblock %}
